/* This stylesheet contains custom style for Cdiscount webpages */

/* adding google font via import method */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* custom style for header section start here*/
.header_section{
    min-height: 650px;
    background-color: #FFFBF0;
    display: block;
}
.banner_image{
    margin-left: 10%;
}
.banner_section_heading{
    font-weight: bold;
    font-size: 5em;
    color: #dc143c;
    font-family: 'Bebas Neue', cursive;
}
.banner_section_heading_2{
    font-weight: bold;
    font-size: 5em;
    color: gold;
    font-family: 'Bebas Neue', cursive;
}
.banner_section_details{
    font-size: 1.2em;
    font-weight: bold;
}
.btn-buy{
    padding: 10px 30px;
    background-color: #8AA520;
    font-weight: bold;
    color: white;
}
.btn-buy:hover{
    color: white;
}
/* custom style for header section end here*/

/* custom style for product section start here */
.price{
    float: left;
    color: orange;
    font-weight: bold;
}
.buy_button{
    float: right;
}
.buy_button button{
    padding: 10px 30px;
    background-color: #8AA520;
    font-weight: bold;
    color: white;
}
.buy_button button:hover{
    color: white;
}
.product_img{
    background-color: #F1F1F1;
    border-radius: 20px;
}
.cus_round{
    border-radius: 20px;
}
.product_section_heading{
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
    color: #363958;
}
.product_title{
    color: #363958;
    font-weight: bold;
    font-size: 1.4em;
}
.product_price{
    color: orange;
    font-weight: bold;
}
/* custom style for product section end here */

/* custom style for about section start here */
.about{
    margin-top: 150px;
}
.about_details{
    float: left;
    background-color: white;
    margin-bottom: 25px;
    border-radius: 15px;
    padding: 10px 20px;
    width: 100%;
}
.about_custom{
    text-align: center;
    margin-right: 25px;
}
.about_custom img{
    width: 100px;
    height: 95px;
}
.about_custom h3{
    color: #363958;
    font-weight: bold;
}
.about_image_custom{
    width: 100%;
}
/* custom style for about section end here */

/* custom style for signup section start here */
.sign_up_heading{
    color: #363958;
}
.sign_up_heading h2{
    color: crimson;
}
.btn-sign-up{
    background-color: crimson;
    width: 100%;
    padding: 10px 25px;
    color: white;
    text-align: center;
    font-weight: bold;

}
.btn-sign-up:hover{
    color: white;
}
.foot_sign_up{
    background-color: #FFFBF0;
    padding-bottom: 100px;
}
/* custom style for signup section end here */

/* custom style for footer/copyright section start here */
.footer{
    width: 100%;
    text-align: center;
    background-color: wheat;
}
.footer p{
    font-weight: bold;
    padding: 25px;
    margin-bottom: 0;
}
/* custom style for footer/copyright section end here */

/* media quiry for about section start here */
@media screen and (min-width: 768px) {
    .about_custom {
      text-align: left;
    }
  }
@media screen and (max-width: 992px) {
    .about_image_custom{
      margin-bottom: 100px;
    }
}
/* media quiry for about section end here */

